#
# COPYRIGHT Ericsson 2023
#
#
#
# The copyright to the computer program(s) herein is the property of
#
# Ericsson Inc. The programs may be used and/or copied only with written
#
# permission from Ericsson Inc. or in accordance with the terms and
#
# conditions stipulated in the agreement/contract under which the
#
# program(s) have been supplied.
#

documents:
  - name: "Service User Guide"
    filepath: build/doc-marketplace/user-guide.zip
    default: true
  - name: "Application Developers Guide"
    filepath: build/doc-marketplace/developers-guide.zip
  - name: "API Documentation"
    filepath: src/main/resources/v1/index.html
  - name: "Database Design Guide"
    filepath: build/doc-marketplace/database-design-guide.zip
  - name: Inner Source README
    filepath: build/doc-marketplace/read-me.zip
  - name: Contributing Guideline
    filepath: build/doc-marketplace/contributing.zip