model_version: 2.0
product_va_config:
    name: Core Slice Assurance Configuration
    product_name: eric-oss-core-slice-assurance-cfg
    product_number: APR 201 702
    version: {version}
    va_template_version: 2.0.0
    description: Core Slice Assurance Configuration with Bob based CI and release automation pipelines
    images:
        - /eric-oss-core-slice-assurance-cfg:{version}
 
    mitigations:
        # Critical
        CVE-2018-6913:
            category: UT
            severity_based_on_risk_assessment: MEDIUM
            description_of_usage: >-
                test
            likelihood_of_attack: >-
                Low.
            impact: Low.
            evaluation:
                status: UT
                rationale: >-
                    Severity Based on Risk Assessment: MEDIUM

                    Description of Usage:
                    test

                    Likelihood of attack:
                    Low.
                    Impact: (in case of successful exploit):
                    Medium.
            mitigation: >-
                Uplift CBOS to the next version
            sce:
                sce-id: SCE-1234-00
                status: Pending
                expires: 2024-12-31T00:00:00Z
